/* .greenBgD {
    background: #2ECC71;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.redBgD {
    background: #FF5733;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
} */

#btn-gastos {
    margin: .5em .25em;
    padding: .625em 1.375em;
    background: #FF5733;
    border: 0;
    border-radius: .25em;
    color: white;
}

#btn-ingresos {
    margin: .5em .25em;
    padding: .625em 1.375em;
    background: #2ECC71;
    border: 0;
    border-radius: .25em;
    color: white;
}