body {
    font-family: 'Poppins', sans-serif;
}

.textDep, .textRet {
    color: white;
    background: rgb(38, 166, 154);
    border-radius: 24px;
    border: none;
    text-align: center;
    width: 40vw;
}

.textRet {
    background: rgb(244, 76, 64);
}

.modal-header {
    padding-top: 3vh;
    padding-bottom: 1em;
}

.textModal{
    color: rgb(185, 185, 185);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    height: 2vh;
    text-align: center;
}

.textModalBody{
    color: rgb(185, 185, 185);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    height: 2vh;
    text-align: center;
    padding-top: 5%;
    width: 30%;
}

#money {
    border: none;
    color: rgb(69, 138, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    height: auto;
    text-align: right;
    width: 100%;
}

/*same*/
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
}
.buttonSearch {
    background: transparent;
    color: black;
    border: none;
    height: 30px;
    width: 30px;
}
.mainHome {
    background-color: #FAFAFA;
}
.btnfooter {
    margin-left: 19px;
    background: transparent;
    border: none;
}
.addIncome {
    height: 8vh;
    bottom: 4vh;
    background-color: #458AFF;
    display: inline-block;
    border-radius: 50%;
}
.addIcon {
    margin-top: 2.2vh;
    margin-left: 5.3px;
}
#calendarId {
    background-image: url("../base/assets/img/icons/event_gray.png");
    background-repeat: no-repeat;
    background-position: center;
}
#calendarId:active {
    background-image: url("../base/assets/img/icons/event.png");
}


@media (min-width: 320px) { 
    .registro {
        font-size: 0.2rem;
        width: 230px;
    }
}

@media (min-width: 768px) {
    .registro {
        font-size: .5rem;
    }  
}

@media (min-width: 992px) { 
    .registro {
        font-size: 1rem;
    }   
}

@media (min-width: 1200px) { 
    .registro {
        font-size: 1rem;
    }  
}



